* {
  transition: all 0.5s linear;
}

body {
  text-align: center;
  object-fit: cover;
  background-image: url("https://i.blogs.es/57cc6f/pokemon-escarlata-y-pokemon-purpura-_-presentacion-2-11-screenshot/1366_2000.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1, h2, button {
  font-family: "Fredoka One", cursive;
}

h1 {
  -webkit-text-stroke: 0.1px #FFC3A1;
  color: #F0997D;
}

h2 {
  -webkit-text-stroke: 0.1px #FFC3A1;
  color: #000;
}

input {
  display: none;
}

label {
  font-family: "Yeon Sung", cursive;
}

.titulo {
  width: 340px;
  height: 50px;
}

#select_pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-mokepon {
  width: 340px;
  height: 20px;
  padding: 4px;
  margin-bottom: 8px;
  border-radius: 5px;
  color: #FFC3A1;
  border: 1px solid #D3756B;
  background-color: #A75D5D;
}

.card-mokepon:hover {
  color: #A75D5D;
  border: 1px solid #F0997D;
  background-color: #FFC3A1;
}

input:checked + label {
  color: #fff;
  border: 1px solid #000;
  background-color: #F0997D;
}

#button-select_pet {
  width: 230px;
  height: 30px;
  border-radius: 5px;
  padding: 4px;
  color: #fff;
  background-color: #000;
  border: 1px solid #FFC3A1;
}
#button-select_pet :hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #A75D5D;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-left: 40px;
  border: 1px solid #888;
  width: 20%;
  min-width: 340px;
  min-height: 10vh;
  max-height: 100vh;
  border-radius: 30px;
  border: 3px solid #000;
}
.modal-content img {
  width: 100%;
  max-width: 250px;
  height: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.select_attack {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select_attack--tittle {
  margin-bottom: 24px;
}
.select_attack--tittle h1 {
  -webkit-text-stroke: 1px #FFC3A1;
  color: #F0997D;
}
.select_attack--cards {
  width: 340px;
  height: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  background-color: #D3756B;
  border: 2px solid #FFC3A1;
  padding: 8px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
}
.select_attack--cards_card {
  color: #F0997D;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid #000;
}
.select_attack--cards_card h2, .select_attack--cards_card p {
  display: block;
  width: 100%;
  height: 20px;
}
.select_attack--cards_card h2 {
  font-size: 20px;
  font-weight: 600;
}
.select_attack--cards_card p {
  font-size: 20px;
  font-weight: 200;
}
.select_attack--cards_card picture {
  display: block;
  width: 100%;
  height: 110px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.select_attack--cards_card picture img {
  height: 100%;
}
.select_attack--type {
  width: 340px;
  height: 48px;
  margin-bottom: 24px;
}
.select_attack--type p {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.select_attack--type p button {
  font-weight: 900;
  min-width: 70px;
  max-width: 160px;
  border-radius: 16px;
  border: 1px solid #000;
  cursor: pointer;
  color: #fff;
  background-color: #D3756B;
  border: 2px solid #FFC3A1;
}
.select_attack--type p button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #A75D5D;
}
.select_attack--message {
  width: 340px;
  height: 80px;
  background-color: #D3756B;
  border: 2px solid #FFC3A1;
  border-radius: 16px;
  overflow: auto;
  padding: 8px;
  margin-bottom: 24px;
}
.select_attack--reset {
  width: 340px;
  height: 48px;
}
.select_attack--reset button {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #D3756B;
  border: 2px solid #FFC3A1;
  color: #fff;
  font-weight: 900;
}
.select_attack--reset button:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #A75D5D;
}

.button-attack:disabled {
  display: none;
}

.container__modal {
  width: 140px;
  height: 140px;
  margin-bottom: 24px;
}
.container__modal--content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: white;
}
.container__modal--content-img {
  height: 100%;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
