// English documentation
// This code is a CSS style sheet that is used to style the elements in the HTML page of the Mokepon game. Some of the things this CSS code does are:

// Sets fonts for titles and buttons.
// Sets the text alignment and background of the page.
// Sets the styling for sections, radio buttons, and available pet tags.
// Sets the style for attack buttons and for the modal that appears when a pet is selected.
// Uses variables to set consistent colors and sizes throughout the code.

// Documentación En Español
// Este código es una hoja de estilo CSS que se utiliza para estilizar los elementos en la página HTML del juego Mokepon. Algunas de las cosas que este código CSS hace son:

// Establece fuentes para los títulos y botones.
// Establece el alineamiento del texto y el fondo de la página.
// Establece el estilo para las secciones, los botones de radio y las etiquetas de las mascotas disponibles.
// Establece el estilo para los botones de ataque y para el modal que aparece cuando se selecciona una mascota.
// Utiliza variables para establecer colores y tamaños consistentes a lo largo del código.

$size-width-content : 340px;
$primary-color: #A75D5D;
$secondary-color: #D3756B;
$tertiary-color: #F0997D;
$accentuate-color: #FFC3A1;
$light-color:#fff;
$dar-color:#000;
$primary-font-family: 'Fredoka One', cursive;
$secondary-font-family:'Yeon Sung', cursive;

*{
    transition: all 0.5 linear;
}

body{
    text-align: center;
    object-fit: cover;
    background-image: url('https://i.blogs.es/57cc6f/pokemon-escarlata-y-pokemon-purpura-_-presentacion-2-11-screenshot/1366_2000.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1,h2,button{
    font-family: $primary-font-family;
}
h1{
    -webkit-text-stroke: 0.1px $accentuate-color;
    color: $tertiary-color;
}
h2{
    -webkit-text-stroke: 0.1px $accentuate-color;
    color: $dar-color;
}
input{
    display: none;
}
label{
    font-family: $secondary-font-family;
}
.titulo{
    width: $size-width-content;
    height: 50px;
}
#select_pet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-mokepon{
    width: $size-width-content;
    height: 20px;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 5px;
    color: $accentuate-color;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
}
.card-mokepon:hover{
    color: $primary-color;
    border: 1px solid $tertiary-color;
    background-color: $accentuate-color;
}
input:checked + label{
    color: $light-color;
    border: 1px solid $dar-color;
    background-color: $tertiary-color;
}
#button-select_pet{
    width: calc($size-width-content - 110px) ;
    height: 30px;
    border-radius: 5px;
    padding: 4px;
    color: $light-color;
    background-color: $dar-color;
    border: 1px solid $accentuate-color;

    :hover{
        color: $dar-color;
        background-color: $light-color;
        border: 1px solid $primary-color;
    }
}
#select_attack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    p{
        width: $size-width-content;
        height: auto;
        padding: 4px;
        border-radius: 5px;
        color: $accentuate-color;
        background-color: $primary-color;
    }
}
#pet-Player,#pet-Enemy,#petLives-Player,#petLives-Enemy{
    color: $light-color;
}
#reset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    min-height: 0vh;
    max-height: 20vh;
    overflow: auto;
}
#message{
    background-color: $primary-color;
    color: $light-color;
    width: 310px;
    height: 20vh;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.button-attack{
    background-color: transparent;
    border: none;
    color: $light-color;
}

.button-attack:hover{
    background-color: $secondary-color;
    color: $dar-color;
    border: .1px solid $dar-color;
    border-radius: 20px;
}

.button-attack:disabled{
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-left: 40px;
    border: 1px solid #888;
    width: 20%;
    min-height: 10vh;
    max-height: 100vh;
    border-radius: 30px;
    border: 3px solid #000;
    
    img{
        max-width: 250px;
        height: 100%;
    }
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}