$size-width-content : 340px;
$primary-color: #A75D5D;
$secondary-color: #D3756B;
$tertiary-color: #F0997D;
$accentuate-color: #FFC3A1;
$light-color:#fff;
$dar-color:#000;
$primary-font-family: 'Fredoka One', cursive;
$secondary-font-family:'Yeon Sung', cursive;

*{
    transition: all 0.5 linear;
}

body{
    text-align: center;
    background-color: #b0b0b0;
    
}
h1,h2,button{
    font-family: $primary-font-family;
}
h1{
    -webkit-text-stroke: 0.1px $accentuate-color;
    color: $tertiary-color;
}
h2{
    -webkit-text-stroke: 0.1px $accentuate-color;
    color: $dar-color;
}
input{
    display: none;
}
label{
    font-family: $secondary-font-family;
}
.titulo{
    width: $size-width-content;
    height: 50px;
}
#select_pet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-mokepon{
    width: $size-width-content;
    height: 20px;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 5px;
    color: $accentuate-color;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
}
.card-mokepon:hover{
    color: $primary-color;
    border: 1px solid $tertiary-color;
    background-color: $accentuate-color;
}
input:checked + label{
    color: $light-color;
    border: 1px solid $dar-color;
    background-color: $tertiary-color;
}
#button-select_pet{
    width: calc($size-width-content - 110px) ;
    height: 30px;
    border-radius: 5px;
    padding: 4px;
    color: $light-color;
    background-color: $dar-color;
    border: 1px solid $accentuate-color;
}
#button-select_pet:hover{
    color: $dar-color;
    background-color: $light-color;
    border: 1px solid $primary-color;
}
#select_attack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    p{
        width: $size-width-content;
        height: 20px;
        padding: 4px;
        border-radius: 5px;
        color: $accentuate-color;
        background-color: $primary-color;
    }
}
#pet-Player,#pet-Enemy,#petLives-Player,#petLives-Enemy{
    color: $light-color;
}
#message,#reset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
    max-height: 20vh;
    overflow: auto;
}
.button-attack{
    background-color: transparent;
    border: none;
}

.button-attack:hover{
    color: $light-color;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 10vh;
    max-height: 100vh;
    
    img{
        max-width: 250px;
        height: 100%;
    }
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}