/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/

html{
    font-size: 62.2%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.neu{
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow:  17px 17px 80px #9b9b9b,
                -17px -17px 80px #ffffff;  
}

.container .container-chat .chat-left{
    margin-left: 12px;
    color: #9241c8;
    background-color: #a39daa38;
}
.container .container-chat .chat{
    width: calc(100% - 12px);
    margin-left: 12px;
}
.container-chat{
    width: 282px;
    height: 552px;
    display: grid;
    /* grid-template-columns: repeat(5,20px);
    grid-template-rows: repeat(10,20px); */
    grid-template-areas: 
    "chat-user  chat-user   chat-user   chat-user   chat-user"
    "chat-1     chat-1      chat-1      limpio-1    limpio-1"
    "chat-2     chat-2      chat-2      limpio-1    limpio-1"
    "limpio-2   limpio-2    img-1       img-2       img-3"
    "limpio-2   limpio-2    chat-3      chat-3      chat-3"
    "limpio-3   limpio-3    limpio-3    chat-4      chat-4"
    "chat-5     chat-5      chat-5      limpio-4    limpio-4"
    "chat-6     chat-6      chat-6      limpio-4    limpio-4"
    "chat-7     chat-7      chat-7      limpio-4    limpio-4"
    "chat       chat        chat        chat        chat"
    ;
    grid-auto-columns: 50px;
    grid-auto-rows: 50px;
    gap: 5px;
    margin: 48px auto;
    background-color: #f5f3f7;
    border-radius: 12px;
}
.chat,.chat1,.chat2,.chat3,.chat4,.chat5,.chat6,.chat7{
    display: flex;
    align-items: center;
    padding: 4px;
    font-size: calc(.54em + .5vw);
    text-align: start;
    color: #6e5d7e;
    background-color: #ffffff;
}
.container-chat > div{
    width: 100%;
    height: 50px;
    /* border: 1px solid gray; */
    border-radius: 8px;
}
.container-chat .user{
    width: calc(100% + 12px);
    grid-area: chat-user;
}
.container-chat .chat1{
    width: calc(100%+12px);
    grid-area: chat-1;
}
.container-chat .chat2{
    grid-area: chat-2;
}
.container-chat .img1{
    grid-area: img-1;
}
.container-chat .img2{
    grid-area: img-2;
}
.container-chat .img3{
    grid-area: img-3;
}
.container-chat .chat3{
    grid-area: chat-3;
}
.container-chat .chat4{
    grid-area: chat-4;
}
.container-chat .chat5{
    grid-area: chat-5;
}
.container-chat .chat6{
    grid-area: chat-6;
}
.container-chat .chat7{
    grid-area: chat-7;
}
.container-chat .chat{
    grid-area: chat;
}
.img1,.img2,.img3{
    overflow: hidden;
}
.container-chat img{
    width: 100%;
}
.container-chat .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(90deg, rgba(136,56,255,1) 0%, rgba(233,66,255,1) 35%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 10px;
}
.container-chat .user .user-name div:nth-child(2){
    color: #dab8fb;
}
.container-chat .user .user-avatar img{
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
}
.container-chat .user-name div:nth-child(2){
    color: #3e2753;
    font-size: 70%;
}
.container .container-chat .chat6,.container .container-chat .chat7{
    background: linear-gradient(90deg, rgba(136,56,255,1) 0%, rgba(233,66,255,1) 35%);
    color: white;
}

.container-footer{
    width: 40rem;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
}
.container-footer p{
    font-size: 1.5rem;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    color: #b0a8b8;
}