/* 
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/

:root{
    --primario:#0077B6;
    --secundario:#3B7080;
    --terciario:#13C4A3;
    --cuaternario:#FFFFFF;
    --quinario:#000000;

    --sm:16px;
    --md:24px;
    --lg:32px;
}

html{
    font-size: 62.2%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 8px 16px;
    font-size: 2.4rem;
    color: var(--cuaternario);
    background-color: var(--quinario);    
}
a{
    text-decoration: none;
    color: var(--cuaternario);
}
header .redes{
    display: grid;
    grid-auto-columns: minmax(50px,100px);
    grid-auto-rows: minmax(50px,100px);
    grid-auto-flow: column;
    place-content: center;
    place-items: center;
    margin-block-start: 48px;
    margin-block-end: 48px;
    color: var(--cuaternario);
}
h2{
    color: var(--primario);
}
h3{
    color: var(--terciario);
}
header h1 span{
    color: var(--terciario);
}
header .redes img{
    width: 100%;
    height: 100%;
}
header .redes .redes-1,header .redes .redes-2,header .redes .redes-3,header .redes .redes-4,header .redes .redes-5{
    width: 100%;
    height: 100%;
}
header .redes-presentacion{
    display: flex;
    width: 100%;
    margin: 40px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main .container{
    display: grid;
    width: 90%;
    grid-auto-columns: minmax(500px, 630px);
    grid-auto-rows: auto;
    grid-auto-flow: row;
}
main .container article, main .container article div{
    margin-inline-start: 40px;
}
main .container a{
    display: block;
    margin-inline-start:40px;
}
.redes-1:hover{
    background-color: #0a66c2;
}
.redes-2:hover{
    background-color: #2d333b;
}
.redes-3:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.redes-4:hover{
    background: linear-gradient(to bottom, #3A5795 0%, #2B4886 100%);
}
.redes-5:hover{
    background-color: #1DA1F2;
}

.redes > div:hover{
border-radius: 12px;

}
