/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root{
    --primaria:#222831;
    --secundaria:#393E46;
    --terciaria:#00ADB5;
    --acentuacion:#EEEEEE;
    --acentuacion-gray:#bebebe;
}

html{
    font-size: 62.2%;
    font-family: "Roboto", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
    color: var(--acentuacion);
}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.numorphis{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #878787,
             -10px -10px 20px #ffffff;
}
.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(375px, 1fr);
    grid-template-rows: 100px 320px 100px 150px;
    margin: 0 auto;
    background-color: var(--acentuacion-gray);
}
.header{
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--secundaria);
    border-radius: 0 0 24px 24px;
}
.cards div{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    background-color: var(--primaria);
    background-image: url('./img/portada.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.progress-bar{
    border-radius: 24px 24px 0 0;
    background-color: var(--secundaria);
}
.buttons{
    background-color: var(--primaria);
}
.progress-bar,.progress-bar-recordin{
    width: 100%;
}
.total-progress{
    width: 60%;
    height: 8px;
    margin: 8px auto;
    padding: 2px;
    border-radius: 8px;
    background-color: var(--primaria);
}
.on-progress{
    width: 60%;
    height: 4px;
    border-radius: 8px;
    background-color: var(--terciaria);
}
.time-progress{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    justify-items: center;
}