/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/
html {
  font-size: 62.2%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
}

main {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center;
  place-items: center;
  background: none;
  height: auto;
  position: relative;
}

#reloadRandom {
  margin: 4rem 0;
  padding: 2rem 8rem;
  border: 0.1rem solid #21a8f6;
  border-radius: 1.5rem;
  background: white;
  text-align: center;
  color: #21a8f6;
  cursor: pointer;
}
#reloadRandom:hover {
  border-color: red;
  color: red;
}

.container-header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center;
  place-items: center;
  background: #21a8f6;
}

.container-footer {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center;
  place-items: center;
  background: #21a8f6;
}

#faile-load-page {
  text-align: center;
  font-size: 4rem;
  padding: 4rem 0;
  color: purple;
}

.container-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: flex-start;
  place-items: center;
  padding: 4rem 0;
  justify-content: center;
  align-items: flex-start;
}
.container-content .card-dog__random, .container-content .card-dog__favorites {
  width: 15rem;
  border: 0.1rem solid #000;
  border-radius: 1rem;
  overflow: hidden;
}
.container-content .card-dog__random .card-dog__raza, .container-content .card-dog__favorites .card-dog__raza {
  width: 100%;
  min-height: 4.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center;
  place-items: center;
  background: none;
  text-align: center;
  color: #fff;
  background: #000;
  z-index: 3;
  position: relative;
}
.container-content .card-dog__random .card-dog__img, .container-content .card-dog__favorites .card-dog__img {
  width: 100%;
  min-height: 16rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center;
  place-items: center;
  background: none;
  max-height: 16rem;
  z-index: 1;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.container-content .card-dog__random .card-dog__img img, .container-content .card-dog__favorites .card-dog__img img {
  max-width: 16rem;
  max-height: 16rem;
  object-fit: fill;
  object-position: center;
}
.container-content .card-dog__random .card-dog__characteristics, .container-content .card-dog__favorites .card-dog__characteristics {
  width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center;
  place-items: center;
  background: #000;
  color: #fff;
  z-index: 3;
  position: relative;
}
.container-content .card-dog__random .card-dog__fav, .container-content .card-dog__favorites .card-dog__fav {
  width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center;
  place-items: center;
  background: black;
  color: #fff;
  border-top: 0.1rem solid #fff;
  cursor: pointer;
}
.container-content .card-dog__random .card-dog__fav:active, .container-content .card-dog__favorites .card-dog__fav:active {
  background: red;
}

/*# sourceMappingURL=style.css.map */
