/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/


html{
    font-size: 62.2%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
}
@mixin containerWidth($height:100vh,$fd:row,$pContent:flex-start,$bg:none,){
    width: 100%;
    min-height: $height;
    display: flex;
    flex-direction: $fd;
    flex-wrap: wrap;
    gap: 1rem;
    place-content: $pContent;
    place-items: center;
    background: $bg;
}

main{
    @include containerWidth(10vh,column,center);
    height: auto;
    position: relative
}
#file{
    min-width: 56%;
    
    &::file-selector-button{
        min-width: 56%;
        padding: 1.2rem;
        position: absolute;
        color: #fff;
        background: #21a8f6;
        border: none;
        border-radius: 1rem;
    }   
}
#upDogForm{
    min-width: 56%;
    position: relative;
    top: 4rem;
    padding: 1.2rem;
    color: #fff;
    background: #21a8f6;
    border: none;
    border-radius: 1rem;
}
#uploadingDogForm{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
#uploadingDog{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#reloadRandom{
    margin: 4rem 0;
    padding: 2rem 8rem;
    border: .1rem solid #21a8f6;
    border-radius: 1.5rem;
    background: white;
    text-align: center;
    color: #21a8f6;
    cursor: pointer;
    
    &:hover{
        border-color: red;
        color: red;
    }
}
.container-header{
    @include containerWidth(10vh,column,center,#21a8f6);
}
.container-footer{
    @include containerWidth(10vh,column,center,#21a8f6);
    
}
#faile-load-page{
    text-align: center;
    font-size: 4rem;
    padding: 4rem 0;
    color: purple;
}
.container-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    place-content: flex-start;
    place-items: center;
    padding: 4rem 0;
    justify-content: center;
    align-items: flex-start;

    .card-dog__random,.card-dog__favorites{
        width: 15rem;
        border: .1rem solid #000;
        border-radius: 1rem;
        overflow: hidden;

        .card-dog__raza{
            @include containerWidth(4.5em,column,center);
            text-align: center;
            color: #fff;
            background: #000;
            z-index: 3;
            position: relative;
        }
        .card-dog__img{
            @include containerWidth(16rem,column,center);
            max-height: 16rem;
            z-index: 1;
            background-repeat: no-repeat!important;
            background-position: center!important;
            background-size: cover!important;

                img{
                    max-width: 16rem;
                    max-height: 16rem;
                    object-fit: fill;
                    object-position: center
                }
        }
        .card-dog__characteristics{
            @include containerWidth(4rem,row,center,#000);
            color: #fff;
            z-index: 3;
            position: relative;
        }
        .card-dog__fav{
            @include containerWidth(4rem,row,center,black);
            color: #fff;
            border-top: .1rem solid #fff;
            cursor: pointer;
        }
        .card-dog__fav:active{
            background: red;
        }

    }
}
