/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root {
  --blue: #81ccf1;
  --yellow: #efc66a;
  --pink: #d8a6cb;
  --dark-pink: #c59ece;
  --purple: #9996cb;
}

html{
    font-size: 62.2%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(
        to bottom,
        #06283D,
        #242F9B,
        #1363DF,
        #646FD4,
        #47B5FF
        /* #9BA3EB
        #DFF6FF,
        #DBDFFD,
        #371B58,
        #4C3575,
        #5B4B8A,
        #7858A6,
        #6E85B7 */
    );
    margin: 0;
    height: 100vh;
    color: #DFF6FF;
}

.container {
  display: grid;
  grid-template: repeat(auto-fit, minmax(50px,1fr)) / repeat(auto-fit, minmax(50px,1fr));
  height: 100vh;
}

.item-1{
    background-color: var(--yellow);
    grid-column: 1 / 2;
    grid-row: 5 / 10;
}
.item-2{
    background-color: var(--blue);
    grid-column: 1 / 4;
    grid-row: 7 / 9;
    /* opacity: 50%; */
}
.item-3{
    background-color: hotpink;
    grid-column: 5 / 8;
    grid-row: 6 / 11;
}
.item-4{
    border: 4px solid hotpink;
    grid-column: 6 / 9;
    grid-row: 5 / 8;
}
.item-5{
    border: 4px solid hotpink;
    grid-column: 7 / 10;
    grid-row: 3 / 10;
}
.item-6{
    background-color: hotpink;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.item-7{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 6 / 9;
    grid-row: 3 / 5;
    font-size: 40px;
}
.item-8{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 4 / 5;
    grid-row: 1 / 8;
    font-size: 20px;
    transform: rotate(-90deg);
    /* Esta es una forma de rotar el texto segun el curso
    transform: rotate(180deg);
    writing-mode: vertical-lr; */
    justify-items: center;
    align-items: center;
}

@media (max-width: 810px){
    .container{
        height: 810px;
        grid-template: repeat(10, 80px) / repeat(10, 80px);
    }
    .item-7,.item-8{
        font-size: calc(75%);
    }
}
@media (max-width: 710px){
    .container{
        height: 710px;
        grid-template: repeat(10, 70px) / repeat(10, 70px);
    }
    .item-7,.item-8{
        font-size: calc(75%);
    }
}
@media (max-width: 610px){
    .container{
        height: 610px;
        grid-template: repeat(10, 60px) / repeat(10, 60px);
    }
    .item-7,.item-8{
        font-size: calc(75%);
    }
}
@media (max-width: 510px) {
    .container{
        height: 510px;
        grid-template: repeat(10, 50px) / repeat(10, 50px);
    }
    .item-7,.item-8{
        font-size: calc(75%);
    }
}