<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sectionAttack.css">
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
    <title>Document</title>
</head>
<body>
    <section id="select_attack">
        <p>Your pet <span id="pet-Player">__</span> has <span id="petLives-Player">__</span> lives</p>
        <p>Your enemy's <span id="pet-Enemy">__</span> pet has <span id="petLives-Enemy">__</span> lives</p>
        <p>
            <button class="button-attack" id="button-fire">Fire 🔥</button>
            <button class="button-attack" id="button-water">Water 💧</button>
            <button class="button-attack" id="button-earth">Earth 🌱</button>
            <button class="button-attack" id="button-block">Block 🛡</button>
        </p>  
        <div id="message">
            <!-- <p>Your pet attacked with <span id="attack-Player"></span>, the enemy's pet attacked with <span id="attack-Enemy"></span> - <span id="end-Attack"></span></p> -->
        </div>  
        <div id="reset">
            <button id="button-reset">Reset</button>
        </div>
    </section>
</body>
</html>