<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sectionAttack.css">
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
    <title>Document</title>
</head>
<body>
    <section class="select_attack" id="select_attack">
        <div class="select_attack--tittle">
            <h1>Mokepon! 🔥💧🌱🛡</h1>
        </div>

        <div class="select_attack--cards">
            <div class="card">
                <h2><span id="attack-Player">Pudos</span></h2>
                <picture>
                    <!-- <img src="https://i.pinimg.com/564x/b9/7b/05/b97b0585b90b3fcfa223b172c9e47f0c.jpg" alt="Mokepon Select"> -->
                </picture>
                <p><span id="petLives-Player">__</span></p>
            </div>
            <div class="card">
                <h2><span id="attack-Player">Pudos</span></h2>
                <picture>
                    <!-- <img src="https://i.pinimg.com/564x/b9/7b/05/b97b0585b90b3fcfa223b172c9e47f0c.jpg" alt="Mokepon Select"> -->
                </picture>
                <p><span id="petLives-Player">__</span></p>
            </div>
        </div>

        <div class="select_attack--type">
            <p>
                <button class="button-attack" id="button-fire">Fire 🔥</button>
                <button class="button-attack" id="button-water">Water 💧</button>
                <button class="button-attack" id="button-earth">Earth 🌱</button>
                <button class="button-attack" id="button-block">Block 🛡</button>
            </p>  
        </div>

        <div class="select_attack--message" id="message">
            <p>Your pet attacked with , the enemy's pet attacked with <span id="attack-Enemy"></span> - <span id="end-Attack"></span></p>
        </div> 

        <div class="select_attack--reset" id="reset">
            <button id="button-reset">Reset</button>
        </div>
    </section>
</body>
</html>