$size-width-content : 340px;
$primary-color: #A75D5D;
$secondary-color: #D3756B;
$tertiary-color: #F0997D;
$accentuate-color: #FFC3A1;
$light-color:#fff;
$dar-color:#000;
$primary-font-family: 'Fredoka One', cursive;
$secondary-font-family:'Yeon Sung', cursive;

*,h1{
    transition: all 0.5 linear;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    object-fit: cover;
    background-image: url('https://i.blogs.es/57cc6f/pokemon-escarlata-y-pokemon-purpura-_-presentacion-2-11-screenshot/1366_2000.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
button{
    font-family: $primary-font-family;
}

.button-attack:disabled{
    display: none;
}

.select_attack{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--tittle{

        h1{
            -webkit-text-stroke: 0.1px $accentuate-color;
            color: $tertiary-color;
        }
    }

    &--cards{
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 24px;
    }
}

